body {
background-image: url(beast.webp);
background-repeat: repeat;
background-attachment: fixed;
}
.discord {
  background-image: url(sea.jpg);
  background-attachment: fixed;
  position: absolute;
  height: 100vh;
  width: 50vw;
  left:25%;
  height: 300vh;
top: 25%;
  border-style: groove;
  border-width: 25px;
  border-color: brown;
  align-content: center;
  background-blend-mode: lighten;

}

.discord h1 {
  position: center;
  top: 0px;
  left: 10px;
  align-items: center;
  text-align: center;
  font-size: 50px;
  color: white;
  background:#738adb;
  z-index: 1;
}
.dc {
  position: center;


}

.discord iframe {
  position: absolute;
  top: 15%;
  left: 25%;
  height:25%;
  width:50%;
}

.bounce {
  position: absolute;
  left: 35%;
  top: 5%;
  height: 20vh;
  width: 50vw;
  color: red;
  border-color: transparent;
  font-weight: bold;

}
.marquee {
  width:50vw;
  font-weight: bold;
}
