body {
  background-image: url(csgobg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.vidback2 {
  background-image: url(skypage.jpg);
background-repeat: repeat;
  background-attachment: fixed;
  position: absolute;
  height: 200vh;
  width: 50vw;
  left:25%;
  top: 25%;
  border-top-style: groove;
  border-left-style:groove;
  border-right-style: groove;
  border-width: 25px;
  border-color: brown;
  align-content: center;
  background-blend-mode: lighten;
}



marquee {

  background-color: transparent;
position: absolute;
  font-size: 100px;
  width: 51vw;
  height: 10%;
  top: 0;
  color: black;
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 4;
    padding: 0px;
  margin: 0px;

z-index: 1;
  color: white;
}




.welcome p {
  border-style: outset;
  border-width: 10px;
  background-image: url("csgo.webp");
position: absolute;
  top: 320px;
  left:200px;
  height: 25vh;
  width: 25vw;
color: white;
  text-align: center;
  font-size: 38px;
    padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 0.9;
  background-color: white;
  counter-increment: inherit;
}





.video-container2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}


.games {
  font-family: 'Alfa Slab One', cursive;
  border-style: outset;
  border-width: 10px;
  background-image: url("rust.jpg");
position: absolute;
  top: 1000px;
  left:30px;
  height: 350px;
  width: 750px;
color: green;
align-items: center;
  text-align: center;
  font-size: 38px;
    padding: 20px;
  margin: 15px;
  z-index: 2;
  opacity: 0.9;
  background-color: white;
  counter-increment: inherit;
}
