body {
  background-color: black;
}
.vidback2 {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  }

.vidback2 h1 {
  border-style: inset;
  position: absolute;
  width: 100%;
  top: 100px;
  left:0px;
  color: black;
  font-family: Nexa;
  text-align: center;
  font-size: 4;
    padding: 10px;
  margin: 0px;
  z-index: 1;
  background-color: black;
  opacity: 0.5;
  color: white;
}




.welcome p {
  border-style: outset;
  border-width: 10px;
  background-image: url("csgo.webp");
position: absolute;
  top: 220px;
  left:100px;
  height: 250px;
  width: 580px;
color: white;
  text-align: center;
  font-size: 38px;
    padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 0.9;
  background-color: white;
  counter-increment: inherit;
}





.video-container2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}
.color-overlay2{
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 100%;
  height: 100vh;
  opacity: 0.1;
}


.discord {
  margin: 0;
}

.discord h1 {
  position: absolute;
  top: 2200px;
  left: 510px;
  align-items: center;
  text-align: center;
  font-size: 50px;
  color: white;
  background:#738adb;
  z-index: 1;
}
.dc {
  position: absolute;
  left: 500px;
  top: 2300px;

}
.games {
  border-style: outset;
  border-width: 10px;
  background-image: url("rust.jpg");
position: absolute;
  top: 220px;
  left:1000px;
  height: 405px;
  width: 780px;
color: green;
align-items: center;
  text-align: center;
  font-size: 38px;
    padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 0.9;
  background-color: white;
  counter-increment: inherit;
